{
  "$schema": "https://opencode.ai/config.json",
  "lsp": true,
  "formatter": true,
  "plugin": [
    "oh-my-openagent"
  ],
  "provider": {
    "lmstudio": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "LM Studio (local)",
      "options": {
        "baseURL": "http://127.0.0.1:1234/v1"
      },
      "models": {
        "local-model": {
          "name": "local-model",
          "limit": {
            "context": 32768,
            "output": 8000
          }
        }
      }
    }
  },
  "mcp": {
    "playwright": {
      "type": "local",
      "command": [
        "npx",
        "@playwright/mcp@latest"
      ],
      "enabled": true
    },
    "sequential-thinking": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@modelcontextprotocol/server-sequential-thinking"
      ]
    },
    "stitch": {
      "type": "remote",
      "url": "https://stitch.googleapis.com/mcp",
      "enabled": false,
      "headers": {
        "X-Goog-Api-Key": "YOUR_GOOGLE_STITCH_API_KEY"
      }
    }
  }
}
